name: Frontend (App)

on: pull_request

jobs:
    frontend:
        name: Build & Test
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2

            - uses: actions/setup-node@v4
              with:
                  node-version: '18'
                  cache: 'pnpm'
                  cache-dependency-path: pnpm-lock.yaml

            - name: Install packages
              run: pnpm install --frozen-lockfile

            - name: Run tests
              run: pnpm test

            - name: Run build
              run: pnpm build
